<div class="shopping-cart-table">

  <table class="table">
    <thead>
    <tr>
      <th>#</th>
      <th>Pizza</th>
      <th>Count</th>
      <th>Cooking time</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>1</td>
      <td>marinara</td>
      <td>2</td>
      <td>20 sec</td>
      <td>
        <button
        class="btn btn-outline-danger btn-sm float-right">
          <i class="fa fa-trash-o"></i>
        </button>
        <button
        class="btn btn-outline-success btn-sm float-right">
          <i class="fa fa-plus-circle"></i>
        </button>
        <button
        class="btn btn-outline-warning btn-sm float-right">
          <i class="fa fa-minus-circle"></i>
        </button>
      </td>
    </tr>
    </tbody>
  </table>

  <div class="total">
    <button class="order-button">Make order</button>
    <p>Total cooking time is 20 sec</p>
  </div>
</div>
