<div *ngIf="isLoading">
  <app-loading-spinner></app-loading-spinner>
</div>
<form #regForm="ngForm" (ngSubmit)="onSubmit(regForm)" class="reg-page__form" *ngIf="!isLoading">
  <div class="alert alert-danger" *ngIf="hasError">
    {{hasError}}
  </div>
  <h3>Registration below</h3>
  <label class="reg-page__label">
    <p class="label-txt">ENTER YOUR NAME</p>
    <input type="text"
           ngModel
           name="username"
           required
           class="input"/>
    <div class="line-box">
      <div class="line"></div>
    </div>
  </label>
  <label class="reg-page__label">
    <p class="label-txt">ENTER YOUR PASSWORD</p>
    <input type="password"
           minlength="2"
           ngModel
           name="password"
           class="input"/>
    <div class="line-box">
      <div class="line"></div>
    </div>
  </label>
  <button class="reg-page__button" [disabled]="!regForm.valid">submit</button>
</form>

